@font-face {
  font-family: 'mi-icons';
  src:  url('https://www.mumara.com/fonts/mi-icons.eot');
  src:  url('https://www.mumara.com/fonts/mi-icons.eot') format('embedded-opentype'),
    url('https://www.mumara.com/fonts/mi-icons.ttf') format('truetype'),
    url('https://www.mumara.com/fonts/mi-icons.woff') format('woff'),
    url('https://www.mumara.com/fonts/mi-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mi-"], [class*=" mi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: mi-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mi-alert:before {
  content: "\e900";
}
.mi-android:before {
  content: "\e901";
}
.mi-apple:before {
  content: "\e902";
}
.mi-arrow-next:before {
  content: "\e903";
}
.mi-arrow-prev:before {
  content: "\e904";
}
.mi-bookmark:before {
  content: "\e905";
}
.mi-bootstrap:before {
  content: "\e906";
}
.mi-briefcase:before {
  content: "\e907";
}
.mi-browse:before {
  content: "\e908";
}
.mi-calendar:before {
  content: "\e909";
}
.mi-camera:before {
  content: "\e90a";
}
.mi-cart-add:before {
  content: "\e90b";
}
.mi-cart-full:before {
  content: "\e90c";
}
.mi-cash:before {
  content: "\e90d";
}
.mi-change-style:before {
  content: "\e90e";
}
.mi-chat:before {
  content: "\e90f";
}
.mi-clock:before {
  content: "\e910";
}
.mi-close:before {
  content: "\e911";
}
.mi-cloud:before {
  content: "\e912";
}
.mi-code:before {
  content: "\e913";
}
.mi-contact-form:before {
  content: "\e914";
}
.mi-credit-card:before {
  content: "\e915";
}
.mi-cursor-click:before {
  content: "\e916";
}
.mi-cust-feedback:before {
  content: "\e917";
}
.mi-database:before {
  content: "\e918";
}
.mi-delivery:before {
  content: "\e919";
}
.mi-desktop:before {
  content: "\e91a";
}
.mi-devices:before {
  content: "\e91b";
}
.mi-down:before {
  content: "\e91c";
}
.mi-download:before {
  content: "\e972";
}
.mi-drag-n-drop:before {
  content: "\e91e";
}
.mi-edit:before {
  content: "\e91f";
}
.mi-edit2:before {
  content: "\e920";
}
.mi-error:before {
  content: "\e921";
}
.mi-extension:before {
  content: "\e922";
}
.mi-features:before {
  content: "\e923";
}
.mi-file:before {
  content: "\e924";
}
.mi-flag:before {
  content: "\e925";
}
.mi-folder:before {
  content: "\e926";
}
.mi-gift:before {
  content: "\e927";
}
.mi-globe:before {
  content: "\e928";
}
.mi-globe-2:before {
  content: "\e929";
}
.mi-growing-chart:before {
  content: "\e92a";
}
.mi-hearth:before {
  content: "\e92b";
}
.mi-help:before {
  content: "\e92c";
}
.mi-home:before {
  content: "\e92d";
}
.mi-hot-cup:before {
  content: "\e92e";
}
.mi-idea:before {
  content: "\e92f";
}
.mi-image-gallery:before {
  content: "\e930";
}
.mi-image-slider:before {
  content: "\e931";
}
.mi-info:before {
  content: "\e932";
}
.mi-key:before {
  content: "\e933";
}
.mi-laptop:before {
  content: "\e934";
}
.mi-layers:before {
  content: "\e935";
}
.mi-left:before {
  content: "\e936";
}
.mi-letter:before {
  content: "\e937";
}
.mi-like:before {
  content: "\e938";
}
.mi-link:before {
  content: "\e939";
}
.mi-lock:before {
  content: "\e93a";
}
.mi-login:before {
  content: "\e93b";
}
.mi-logout:before {
  content: "\e93c";
}
.mi-magic-stick:before {
  content: "\e93d";
}
.mi-map-pin:before {
  content: "\e93e";
}
.mi-menu:before {
  content: "\e93f";
}
.mi-mobile:before {
  content: "\e940";
}
.mi-mobile2:before {
  content: "\e941";
}
.mi-mobirise:before {
  content: "\e942";
}
.mi-music:before {
  content: "\e943";
}
.mi-new-file:before {
  content: "\e944";
}
.mi-opened-folder:before {
  content: "\e945";
}
.mi-pages:before {
  content: "\e946";
}
.mi-paper-plane:before {
  content: "\e947";
}
.mi-paperclip:before {
  content: "\e948";
}
.mi-photo:before {
  content: "\e949";
}
.mi-photos:before {
  content: "\e94a";
}
.mi-pin:before {
  content: "\e94b";
}
.mi-play:before {
  content: "\e94c";
}
.mi-plus:before {
  content: "\e94d";
}
.mi-preview:before {
  content: "\e94e";
}
.mi-print:before {
  content: "\e94f";
}
.mi-protect:before {
  content: "\e950";
}
.mi-question:before {
  content: "\e951";
}
.mi-quote:before {
  content: "\e952";
}
.mi-refresh:before {
  content: "\e953";
}
.mi-responsive:before {
  content: "\e954";
}
.mi-right:before {
  content: "\e955";
}
.mi-rocket:before {
  content: "\e956";
}
.mi-sad-face:before {
  content: "\e957";
}
.mi-sale:before {
  content: "\e958";
}
.mi-save:before {
  content: "\e959";
}
.mi-search:before {
  content: "\e95a";
}
.mi-setting:before {
  content: "\e95b";
}
.mi-setting2:before {
  content: "\e95c";
}
.mi-setting3:before {
  content: "\e95d";
}
.mi-share:before {
  content: "\e95e";
}
.mi-shopping-bag:before {
  content: "\e95f";
}
.mi-shopping-basket:before {
  content: "\e960";
}
.mi-shopping-cart:before {
  content: "\e961";
}
.mi-sites:before {
  content: "\e962";
}
.mi-smile-face:before {
  content: "\e963";
}
.mi-speed:before {
  content: "\e964";
}
.mi-star:before {
  content: "\e965";
}
.mi-success:before {
  content: "\e966";
}
.mi-sun:before {
  content: "\e967";
}
.mi-tablet:before {
  content: "\e968";
}
.mi-target:before {
  content: "\e969";
}
.mi-timer:before {
  content: "\e96a";
}
.mi-to-ftp:before {
  content: "\e96b";
}
.mi-to-local-drive:before {
  content: "\e96c";
}
.mi-touch-swipe:before {
  content: "\e96d";
}
.mi-touch:before {
  content: "\e96e";
}
.mi-trash:before {
  content: "\e96f";
}
.mi-unlock:before {
  content: "\e970";
}
.mi-up:before {
  content: "\e971";
}
.mi-upload:before {
  content: "\e91d";
}
.mi-user:before {
  content: "\e973";
}
.mi-user2:before {
  content: "\e974";
}
.mi-users:before {
  content: "\e975";
}
.mi-video:before {
  content: "\e976";
}
.mi-video-play:before {
  content: "\e977";
}
.mi-watch:before {
  content: "\e978";
}
.mi-website-theme:before {
  content: "\e979";
}
.mi-wifi:before {
  content: "\e97a";
}
.mi-windows:before {
  content: "\e97b";
}

