@font-face {
	font-family: aw-icons;
	src: url("https://www.mumara.com/fonts/aw-icons.4c53700e.eot");
	src: url("https://www.mumara.com/fonts/aw-icons.eot?#iefix") format("embedded-opentype"), 
		url("https://www.mumara.com/fonts/aw-icons.4e449781.woff") format("woff"), 
		url("https://www.mumara.com/fonts/aw-icons.4e7be78e.ttf") format("truetype"), 
		url("https://www.mumara.com/fonts/aw-icons.feee23c8.svg#aw-icons") format("svg");
	font-weight: 400;
	font-style: normal
}
[class*=" icon-"], [class^=icon-] {
	font-family: aw-icons!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-pingpong:before {
	content: "\E915"
}
.icon-bowtie:before {
	content: "\E914"
}
.icon-burger:before {
	content: "\E904"
}
.icon-car:before {
	content: "\E905"
}
.icon-coins:before {
	content: "\E906"
}
.icon-computer:before {
	content: "\E907"
}
.icon-first-aid:before {
	content: "\E908"
}
.icon-graduate:before {
	content: "\E909"
}
.icon-gym:before {
	content: "\E90A"
}
.icon-insurance:before {
	content: "\E90B"
}
.icon-pacman:before {
	content: "\E90C"
}
.icon-pig:before {
	content: "\E90D"
}
.icon-pto:before {
	content: "\E90E"
}
.icon-shuttle:before {
	content: "\E90F"
}
.icon-soda:before {
	content: "\E910"
}
.icon-theatre:before {
	content: "\E911"
}
.icon-volunteer:before {
	content: "\E912"
}
.icon-yoga:before {
	content: "\E913"
}
.icon-analytics:before {
	content: "\E900"
}
.icon-engineering:before {
	content: "\E901"
}
.icon-product:before {
	content: "\E902"
}
.icon-tie:before {
	content: "\E903"
}
.icon-copy:before {
	content: "\E680"
}
.icon-edit:before {
	content: "\E681"
}
.icon-chevD-filled:before {
	content: "\E67C"
}
.icon-chevL-filled:before {
	content: "\E67D"
}
.icon-chevR-filled:before {
	content: "\E67E"
}
.icon-chevU-filled:before {
	content: "\E67F"
}
.icon-location:before {
	content: "\E679"
}
.icon-pause-filled:before {
	content: "\E67A"
}
.icon-play-filled:before {
	content: "\E67B"
}
.icon-pause:before {
	content: "\E678"
}
.icon-speakers:before {
	content: "\E677"
}
.icon-archive:before {
	content: "\E674"
}
.icon-labs:before {
	content: "\E670"
}
.icon-news:before {
	content: "\E671"
}
.icon-segments:before {
	content: "\E666"
}
.icon-cart:before {
	content: "\E667"
}
.icon-experience:before {
	content: "\E668"
}
.icon-expert:before {
	content: "\E669"
}
.icon-html:before {
	content: "\E66A"
}
.icon-moving:before {
	content: "\E66B"
}
.icon-snippet:before {
	content: "\E66C"
}
.icon-shopping:before {
	content: "\E614"
}
.icon-sharing:before {
	content: "\E615"
}
.icon-settings:before {
	content: "\E616"
}
.icon-sent:before {
	content: "\E617"
}
.icon-send:before {
	content: "\E618"
}
.icon-search:before {
	content: "\E619"
}
.icon-schedule:before {
	content: "\E61A"
}
.icon-save:before {
	content: "\E61B"
}
.icon-refresh:before {
	content: "\E61C"
}
.icon-publish:before {
	content: "\E61D"
}
.icon-privacy:before {
	content: "\E61E"
}
.icon-pricing:before {
	content: "\E61F"
}
.icon-preview:before {
	content: "\E620"
}
.icon-press:before {
	content: "\E621"
}
.icon-play:before {
	content: "\E622"
}
.icon-personalize:before {
	content: "\E623"
}
.icon-partners:before {
	content: "\E624"
}
.icon-opens:before {
	content: "\E625"
}
.icon-numbered:before {
	content: "\E626"
}
.icon-mobile:before {
	content: "\E627"
}
.icon-login:before {
	content: "\E628"
}
.icon-layout:before {
	content: "\E62C"
}
.icon-kb:before {
	content: "\E62D"
}
.icon-justified:before {
	content: "\E62E"
}
.icon-italic:before {
	content: "\E62F"
}
.icon-info:before {
	content: "\E630"
}
.icon-import:before {
	content: "\E631"
}
.icon-images:before {
	content: "\E632"
}
.icon-guides:before {
	content: "\E633"
}
.icon-groups:before {
	content: "\E634"
}
.icon-font:before {
	content: "\E635"
}
.icon-features:before {
	content: "\E636"
}
.icon-faq:before {
	content: "\E637"
}
.icon-export:before {
	content: "\E638"
}
.icon-email:before {
	content: "\E639"
}
.icon-drag:before {
	content: "\E63A"
}
.icon-draft:before {
	content: "\E63B"
}
.icon-divider:before {
	content: "\E63C"
}
.icon-design:before {
	content: "\E63D"
}
.icon-deliverability:before {
	content: "\E63E"
}
.icon-delete:before {
	content: "\E63F"
}
.icon-dashboard:before {
	content: "\E640"
}
.icon-clicks:before {
	content: "\E644"
}
.icon-chevU:before {
	content: "\E645"
}
.icon-chevR:before {
	content: "\E646"
}
.icon-chevL:before {
	content: "\E647"
}
.icon-chevD:before {
	content: "\E648"
}
.icon-check:before {
	content: "\E649"
}
.icon-careers:before {
	content: "\E64A"
}
.icon-calendar:before {
	content: "\E64B"
}
.icon-button:before {
	content: "\E64C"
}
.icon-bullets:before {
	content: "\E64D"
}
.icon-broadcasts:before {
	content: "\E64E"
}
.icon-bounces:before {
	content: "\E64F"
}
.icon-bold:before {
	content: "\E650"
}
.icon-blog:before {
	content: "\E651"
}
.icon-billing:before {
	content: "\E652"
}
.icon-autoresponders:before {
	content: "\E653"
}
.icon-apps:before {
	content: "\E654"
}
.icon-api:before {
	content: "\E655"
}
.icon-analytics:before {
	content: "\E656"
}
.icon-alignR:before {
	content: "\E657"
}
.icon-alignL:before {
	content: "\E658"
}
.icon-splittest:before {
	content: "\E611"
}
.icon-signature:before {
	content: "\E613"
}
.icon-lists:before {
	content: "\E62A"
}
.icon-link:before {
	content: "\E62B"
}
.icon-contact:before {
	content: "\E642"
}
.icon-close:before {
	content: "\E643"
}
.icon-spam:before {
	content: "\E612"
}
.icon-loading:before {
	content: "\E629"
}
.icon-coupon:before {
	content: "\E641"
}
.icon-alignC:before {
	content: "\E659"
}
.icon-alert:before {
	content: "\E65A"
}
.icon-affiliates:before {
	content: "\E65B"
}
.icon-strikethrough:before {
	content: "\E610"
}
.icon-subscribers:before {
	content: "\E60F"
}
.icon-support:before {
	content: "\E60E"
}
.icon-templates:before {
	content: "\E60D"
}
.icon-testimonial:before {
	content: "\E60C"
}
.icon-trash:before {
	content: "\E60B"
}
.icon-underline:before {
	content: "\E60A"
}
.icon-unlimited:before {
	content: "\E609"
}
.icon-unsecure:before {
	content: "\E608"
}
.icon-unsubscribe:before {
	content: "\E607"
}
.icon-user:before {
	content: "\E606"
}
.icon-videos:before {
	content: "\E605"
}
.icon-warn:before {
	content: "\E604"
}
.icon-webforms:before {
	content: "\E603"
}
.icon-webinars:before {
	content: "\E602"
}
.icon-aweber:before {
	content: "\E601"
}
.icon-widget:before {
	content: "\E600"
}
.icon-logo:before {
	content: "\E65F"
}
.icon-chat:before {
	content: "\E65E"
}
.icon-address:before {
	content: "\E65C"
}
.icon-add:before {
	content: "\E65D"
}
.icon-heart:before {
	content: "\E665"
}
.icon-website:before {
	content: "\E676"
}
.icon-vimeo:before {
	content: "\E675"
}
.icon-rss2:before {
	content: "\E673"
}
.icon-pinterest:before {
	content: "\E672"
}
.icon-github:before {
	content: "\E66E"
}
.icon-googleplus:before {
	content: "\E66F"
}
.icon-dribbble:before {
	content: "\E66D"
}
.icon-youtube:before {
	content: "\E660"
}
.icon-twitter:before {
	content: "\E661"
}
.icon-linkedin:before {
	content: "\E662"
}
.icon-instagram:before {
	content: "\E663"
}
.icon-facebook:before {
	content: "\E664"
}
